!!!
%html
  %head
    %title CtlBaseUi
    = stylesheet_link_tag    "ctl_base_ui/application", media: "all"
    = stylesheet_link_tag    "ctl_base_ui/styleguide", media: "all"
    = javascript_include_tag "ctl_base_ui/application"
    = csrf_meta_tags
  %body
    = yield
