- all_icons.each do |icon|
  .icon
    = icon
    %div{class: "icon-#{icon}-example"}
    %div{class: "icon-#{icon}-light-grey-example"}
    %div{class: "icon-#{icon}-white-example"}
    %div{class: "icon-#{icon}-red-example"}
    %div{class: "icon-#{icon}-light-blue-example"}
    %div{class: "icon-#{icon}-blue-example"}
    %div{class: "icon-#{icon}-light-green-example"}
    %div{class: "icon-#{icon}-green-example"}
