%header
  %nav
    %ul
      %li= link_to('Colors', '#colors')
      %li= link_to('Icons', '#icons')
%main
  %section#about
    %p
      This style guide uses class names that are tied to corresponding mixin names.
      In practice the class names can be much more semantic.

  %section#colors
    %h2 Color Palette
    = render 'colors'
  %section#icons
    %h2 Icons
    = render 'icons'
  %section#notices
    %h2 Notices
    = render 'notices'
