%header
  %nav
    %ul
      %li= link_to('Buttons', '#buttons')
      %li= link_to('Colors', '#colors')
      %li= link_to('Icons', '#icons')
      %li= link_to('Notices', '#notices')
      %li= link_to('Typograhy','#typograhy')
      %li= link_to('Panamax', '#panamax')
%main
  %section#about
    %p
      This style guide uses class names that are tied to corresponding mixin names.
      In practice the class names can be much more semantic.

  %section#buttons
    %h2 Buttons
    = render 'buttons'
  %section#colors
    %h2 Color Palette
    = render 'colors'
  %section#icons
    %h2 Icons
    = render 'icons'
  %section#notices
    %h2 Notices
    = render 'notices'
  %section#typography
    %h2 Typography
    = render 'typography'
  %section#panamax
    %h2 Panamax Specific Elements
    = render 'panamax'